*{
    margin: 0;
    padding:0;
    font-family: DejaVu Sans Mono-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	
}
body{
background-color: #e2e2e2;

}
.ab{
	padding-left: 50px;
	padding-right: 50px;
}
.about1{
margin-left: 50px;
	margin-right: 50px;


}
.about{
	margin-left: 50px;
	margin-right: 50px;
	padding: 20px;

	border-radius: 20px;
	border-style: groove;

	background-color: lightgray;
	
}


audio{
	margin-left: 35px;
	width:94%;
	border-style: ridge;
	border-width: 5px;
	border-radius: 30px;
	border-top-color: darkblue;
	border-bottom-color: darkcyan;
	border-left-color: darkcyan;
	border-right-color:darkblue ;
	border-left-style: dotted;
	border-right-style: dotted;
	box-shadow: 0 0 40px dodgerblue;

}

 /*nav bar*/

nav{
    width: 100%;
    height: 80px;
    background-color: #2027a5;
	line-height: 80px;
	position:fixed;
}

nav ul{
    float:right;
    margin-right: 30px;
}

nav ul li{
    list-style: none;
    display: inline-block;
    transition: 0.5s all;
	
}
nav ul :hover{
	
	text-transform: uppercase;
	color: darkblue;
	border-radius: 10px;
	transition: transform .2s;
	transform: scale(1.2)
}

nav ul li a{
    text-decoration: none;
    color: white;
    padding: 30px;
	
}



 /* ---------------- */

 .bg{
	padding: 20px; 
	border-style: double;
	border-color: lightcyan;
	border-radius: 10px;

	background-color: rgba(4, 0, 255, 0.533);
	color: white;
	
}




 
.button{
	padding: 12px 20px;
	margin-left: 10px;
   	 margin-bottom: 10px;
    border: none;
	border-radius: 10px;
	box-shadow: 0 0 10px cyan;

	background: rgb(7,0,112);
	
	background: rgb(21,14,119);
	background: linear-gradient(90deg, rgba(21,14,119,1) 17%, rgba(43,53,195,1) 52%, rgba(5,49,134,1) 96%);
	color: white;
	
	
   
 }


.button:hover{
	background: linear-gradient(90deg, rgba(71,63,203,1) 0%, rgba(9,9,120,1) 52%, rgba(11,85,228,1) 97%);
	
	text-transform: uppercase red;
	transition: transform .2s;
	transform: scale(1.1)
	
}
hr{
	padding-left: 1px;
	margin-left: auto;
	margin-right: auto;
	
	border-width: 1px;
	border-style: solid;

	text-align:center;
	width:98%;
	background-color: #151B8D;
	border-color: #151B8D;
	
}






.im:hover{
	
	transition: transform .2s;
	transform: scale(1)
	
}
input[type=text],textarea{
	width: 90%;
	padding: 10px;
	border-radius: 10px;

	background-color: lightblue;

}

input[type=text]:focus {
	border: 3px solid #555;
	background-color: white;
	

  }

textarea:focus{
	border: 3px solid #555;
	background-color: white;

}

input[type=email]{

	width: 90%;
	padding: 10px;
	border-radius: 10px;

	background-color: lightblue;

}

input[type=email]:focus {
	border: 3px solid #555;
	background-color: white;
	

  }

  input[type=number]{

	width: 90%;
	padding: 10px;
	border-radius: 10px;

	background-color: lightblue;

}
textarea{
	
	width: 90x;
	padding: 10px;
	border-radius: 10px;
	border-style: groove;
	border-width: 3px;
	background-color: lightblue;

}


  input[type=number]:focus {
	border: 3px solid #555;
	background-color: white;
	

  }



.items:hover{
	box-shadow: 0 0 80px darkcyan;

	
	transition: transform .3s;
	transform: scale(1.1)
	

}

label{

	padding-left: 10px;
	
}

.log{
	padding-left:30px;

	transition: 0.6s all;
}

.log:hover{
	transition: transform .2s;
	transform: scale(1.1)

}

.nbastore{
	margin:auto;
	padding:25px;
	box-shadow: 0 0 20px cyan;
	border-radius: 10px;
}
.nba{
	box-shadow: 0 0 50px cyan;
	
	border-radius: 80px;

}

 .nba:hover{
 	 transform: scaleX(-1);
 } 





.ok{
	margin-left: 700px;

}

.ok:hover{
	opacity: 0.3;
    filter: alpha(opacity=30);

}

p{
	
	text-align: justify;
	text-justify: inter-word
	
}

.pp{
	padding:20px;
	margin-bottom: 0px;
	text-align: center;
	background-color: #151B8D;
	color: white;
}
.pic{

	padding-left: 10px;


	border-radius: 30px;

}
.pic:hover{

	opacity: 0.5;
    filter: alpha(opacity=30);
}

.picc{

	border-radius: 10px;
}
.store{
	
	
	margin-left: auto;
	margin-right: auto;

	border-radius:10px;
	border-style: groove;

	
}

.tableimg{
	transition: 0.4s all;

}

.table{
	transition: 0.9s all;

}

table{
	
	margin-left: auto;
	margin-right: auto;
	
		
}

.tableimg:hover{
	
	box-shadow: 0 0 30px #000000;
	border-radius: 10000px;


}
.table:hover{
	
	transition: transform .3s;
	transform: scale(1.2)

}

.table1{
	display: inline-block;
    position: fixed;
    right: 0;
    bottom: 0;
  
	border-radius: 80px;
	border-width:1px;
}
	
.table1:hover{
	
	background-color:#2B60DE;
	transition: transform .3s;
	transform:scale(1.3)
	
	
}

.table2{
	display: inline-block;
   	 position: fixed;
   	 left: 0;
  	bottom: 0;
  	border-radius:80px;
	border-style:solid;
	border-color:white;
	border-width:1px;
}
	
.table2:hover{
	background-color:#2B60DE;
	transition: transform .3s;
	transform: scale(1.3)
	
}
.title {
	height: 50px;
	widows: 98px;
	padding-left: 20px;
	padding-top: 10px;
	margin-left: 10px;
	margin-top: 10px;

	
	color: white;
	background-color: #2B60DE;
	
}

.title1{
	padding-left: 15px;
	padding-top: 10px;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom:1px;

	font-size: 25px;
	font-weight: 500;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
video{
	
	width:99%;
	border-style:inset;
}

.v{
	display: inline-block;
    position: fixed;
    left: 0;
    top: 0;
	
}
.video1{
	background-color: lightgray;
	border-style: groove;
	border-color: darkslateblue;
	border-radius: 20px;
}

